body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul,li{
    list-style: none;
    padding: 0;
}
.wrap{
    width: 100%;
}
/* .header_top{
    display: flex;
    width: 100%;
    height: 896px;
    background-image: url(./images/section01_bg.png);
}
.inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; height: 150px;
}
.header_util{
    display: flex;
    width: 600px;
    justify-content: space-around;
}
.lang_box{
    position: absolute;top:66px;
    display: none;
    background: white;
    border-radius: 15px;
    width: 35px;
    text-align: center;
}
.lang_close{
    display: block;
    position: absolute;
    background: url('./images/lang_btn.png') no-repeat -32px -27px;
} */

.header_top{
    width: 100%;
    height: 869px;
    background-image: url(./images/section01_bg.png);
}
.inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width:200px ;
    height: 100%;
}
.nav{
    width: 700px;
    height: 100%;}
.nav ul{
    display: flex;
    justify-content: space-around;
    line-height: 120px;
}
.lang{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
}
.lang_box{
    display: none;
    position: absolute;top: 70px;
    width: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%);
    background: white;
}
.lang_close{
    background: white;
    border-color: white;
    border-radius: 15px;
}
.main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    width: 100%;
}
input{
    width: 1000px;
    height: 80px;
    border-radius: 55px;
}
input:focus{
    outline: none;
}